%h1 Charity
%p This app allows charities to create donation page QR codes for their organization.

%h3 Some charities in the system:
- @pages.each do |page|
  %p Page: #{link_to page.name, "/#{page.slug}"}
